<!DOCTYPE html>
<html>

<head>
    <title>BADRCM</title>
    <link href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" rel="stylesheet" type="text/css"/>
    <!--<link href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" rel="stylesheet" type="text/css"/>-->
    <link href="{{SPLUNKWEB_URL_PREFIX}}/static/app/badrcm/keen-ui.min.css" rel="stylesheet" type="text/css" />
    <style>
        /* Material Icons */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'),
                local('MaterialIcons-Regular'),
                url({{SPLUNKWEB_URL_PREFIX}}/static/app/badrcm/material-icons.woff2) format('woff2');
        }
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .loading {
            height: 0.25rem
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-gap: 0.5em;
        }

        .ui-button-group {
            gap: .5rem;
        }

        /* Use disabled Tab as title */
        .ui-tab-header-item.is-disabled {
            opacity: 1;
        }

        /* CONF GRID */
        .grid {
            display: grid;
            column-gap: 1rem;
            align-items: center;
            /*grid-auto-rows: 2rem;*/
            /*font-family: Consolas, ui-monospace, monospace;*/
            font-size: 1rem;
        }
        .compact {
            margin-bottom: 0;
        }
        .conf {
            height: 1.5rem;
            line-height: 1.5rem;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-sub-image {
            height: 18px;
            /*line-height: inherit;
            vertical-align: middle;*/
        }
        .conf-sub-text {
            height: inherit;
            line-height: inherit;
            vertical-align: middle;
        }

        .conf-hide {
            grid-column-start: 1;
            /*height: 1.25rem;
            width: 1.25rem;*/
        }
        .conf-file-left {
            grid-column: 2;
            font-style: italics;
        }
        .conf-app-left {
            grid-column: 2;
            font-weight: bold;
            /*height: 36px;*/
            /*line-height: 36px;*/
            margin-top: 0.5em;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-app-col {
            /*height: 36px;
            line-height: 36px;*/
        }
        .conf-stanza-left {
            grid-column: 2;
            font-weight:bold;
            color: #E00000;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-stanza-col {
            line-height: 24px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            overflow: hidden;
            gap: 1rem;
        }
        .conf-attr-left {
            grid-column: 2;
            height: 2rem;
            line-height: 2rem;
            color: #863B00;
            text-align: right;
            padding: 0 0.5rem;
            margin: 0 -0.5rem;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-attr-left > .ui-checkbox__label-text {
            float:right;
        }
        .conf-attr-col {
            height: 2rem;
            padding: 0 0.5rem;
            margin: 0 -0.5rem;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-same {
            background-color: #d1ffd1;
        }
        .conf-diff {
            background-color: #ffd1d1;
        }

        .row1 {
            grid-row: 1;
        }
        .row2 {
            grid-row: 2;
        }
        .row3 {
            grid-row: 3;
        }
        .row4 {
            grid-row: 4;
        }
        .row5 {
            grid-row: 5;
            height: .25rem;
        }
        .col1 {
            grid-column: 1;
        }
        .col1-2 {
            grid-column: 1 / 3;
        }
        .col2 {
            grid-column: 2;
        }
        .colall {
            grid-column: 1 / -1;
        }

        .half-input {
            width: 50%;
        }

        .create {
            color: green;
        }

        .skip {
            color: grey;
        }

        .modify {
            color: orangered
        }

        .flex {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 1rem;
        }

        .grow {
            flex-grow: 1;
        }
    </style>
</head>

<body>
    <header>
        <a class="navSkip" href="#navSkip" tabindex="1"></a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
        </div>
    </header>
    <div id="vue">
        <ui-confirm ref="disclaimer" title="Disclaimer" @confirm="localStorage.setItem('badrcm_disclaimer',true)" @deny="window.open('/','_self')" confirm-button-text="I Agree" deny-button-text="I Disagree" dismiss-on="">
            <p>This application is offered under the Splunk general terms for third party applications avaliable at <a href="https://www.splunk.com/en_us/legal/splunk-general-terms.html#third-party" target="_blank"/>https://www.splunk.com/en_us/legal/splunk-general-terms.html#third-party</a>.</p>
            <p>Brett Adams' Dangerous REST Configuration Manager allows administrators to read, write, and modify Splunk configuration to the fullest extent of your account and the authentication tokens it's configured with.</p>
            <p>Changes can result in serious issues such as platform issues, data loss, or complete outages. You are responsible for the changes you make, and should understand the implications.</p>
            <p>Splunk are not responsible for outages you cause, and you should always engage Splunk Cloud Support to make major changes in Splunk Cloud.</p>
            <p>By default all users with the admin or sc_admin role on this Search Head have access to this application, it's tokens, and the level of access they provide.</p>
        </ui-confirm>
        <ui-tabs>
            <ui-tab disabled>
                <div slot="header" style="color:black;">Brett Adams' Dangerous REST Config Manager</div>
            </ui-tab>
            <ui-tab id="home" title="Home" selected>
                <h1>Welcome</h1>
                <p>This app is under active development.</p>
                <p>Created and supported by <a target="_blank" href="https://splunkbase.splunk.com/apps/#/author/s7orm">Brett Adams</a>. Please report issues on <a target="_blank" href="https://github.com/Bre77/badrcm/issues">GitHub</a></p>
                <h3>Disclaimer</h3>
                <p>This application is offered under the Splunk general terms for third party applications avaliable at <a href="https://www.splunk.com/en_us/legal/splunk-general-terms.html#third-party" target="_blank"/>https://www.splunk.com/en_us/legal/splunk-general-terms.html#third-party</a>.<br>
                Brett Adams' Dangerous REST Configuration Manager allows administrators to read, write, and modify Splunk configuration to the fullest extent of your account and the authentication tokens it's configured with.<br>
                Changes can result in serious issues such as platform issues, data loss, or complete outages. You are responsible for the changes you make, and should understand the implications.<br>
                Splunk are not responsible for outages you cause, and you should always engage Splunk Cloud Support to make major changes in Splunk Cloud.<br>
                By default all users with the admin or sc_admin role on this Search Head have access to this application, it's tokens, and the level of access they provide.</p>
                <h3>Remote Servers</h3>
                <ui-progress-circular v-if="startup" :size="48" :stroke="8" ></ui-progress-circular>
                <table v-else>
                    <tr>
                        <th>Server</th><th>Port</th><th>Username</th><th>Roles</th><th>Apps</th><th>Users</th><th>Files</th>
                    </tr>
                    <tr v-for="details,server in conf_servers">
                        <td>{{server}}</td>
                        <td>{{details.port}}</td>
                        <td v-if="details.rights">{{details.rights.username}}</td><td v-else>X</td>
                        <td v-if="details.rights">{{details.rights.roles.join(', ')}}</td><td v-else>X</td>
                        <td v-if="details.apps">{{details.apps.length}}</td><td v-else>X</td>
                        <td v-if="details.users">{{details.users.length}}</td><td v-else>X</td>
                        <td v-if="details.files">{{details.files.length}}</td><td v-else>X</td>
                    </tr>
                </table>
                
                <h3>Add or Update Server</h3>
                <div class="flex">
                    <ui-textbox class="grow" label="Hostname" placeholder="stack.splunkcloud.com" v-model="addserver_host" :error="addserver_host_error"></ui-textbox>
                    <ui-textbox class="grow" label="Auth Token" v-model="addserver_auth" :error="addserver_auth_error"></ui-textbox>
                </div>
                <div class="flex">
                    <ui-button @click="AddServer" :disabled="!Boolean(addserver_host && addserver_auth)" :loading="addserver_loading">Submit</ui-button>
                    <ui-checkbox label="Shared" v-model="addserver_shared"></ui-checkbox>
                </div>
            </ui-tab>
            <ui-tab id="conf" class="grid" title="Config" :style="{'grid-template-columns': `24px 1fr repeat(${this.conf_setting_columns}, 1fr)`}">
                <!-- Conf Page Settings -->
                <ui-select class="settings col1-2 row1 compact" multiple has-search :options="Options(conf_setting_files,conf_setting_files_options)" v-model="conf_setting_files" @dropdown-close="ConfChangeFiles(); ConfChangeOptions()">Config Files</ui-select>
                <ui-select class="settings col1-2 row2 compact" multiple has-search :options="Options(conf_setting_apps,conf_setting_apps_options)" v-model="conf_setting_apps" :loading="conf_loading > 0" placeholder="All Apps" @dropdown-close="ConfChangeApps">Apps</ui-select>
                <ui-select class="settings col1-2 row3 compact" :options="conf_setting_show_options" v-model="conf_setting_show" @dropdown-close="ConfChangeShow()">Show</ui-select>
                <ui-select class="settings col1-2 row4 compact" :options="conf_setting_columns_options" v-model="conf_setting_columns_option" @change="ConfChangeColumns(); ConfModelUpdate()">Columns</ui-select>
                <div class="loading col1-2 row5"><ui-progress-linear  v-show="conf_loading"></ui-progress-linear></div>
                <!-- Column Settings -->
                <template v-for="c,i of conf_columns.slice(0,conf_setting_columns)">
                    <ui-select class="settings row1" :style="{'grid-column':i+3}" :options="Object.keys(conf_servers)" :loading="conf_loading > 0" :disabled="Object.keys(conf_servers) == 0" v-model="c.server" @change="ConfCheckColumnOptions(c); ConfChangeOptions(c)" placeholder="Please select a server" label="Server" :invalid="!c.server"></ui-select>
                    <ui-select has-search class="settings row2 compact" :style="{'grid-column':i+3}" :options="conf_servers.hasOwnProperty(c.server) ? [DEFAULT_APP_CONTEXT, SYSTEM_APP_CONTEXT, ...conf_servers[c.server].apps.filter(a => a.visable)] : [DEFAULT_APP_CONTEXT]" v-model="c.app" :disabled="!conf_servers.hasOwnProperty(c.server)" :keys="{'label': conf_app_label}" @change="ConfChangeOptions(c)">App Context</ui-select>
                    <ui-select has-search class="settings row3 compact" :style="{'grid-column':i+3}" :options="conf_servers.hasOwnProperty(c.server) ? [DEFAULT_USER_CONTEXT, ...conf_servers[c.server].users] : [DEFAULT_USER_CONTEXT]" v-model="c.user" :disabled="!conf_servers.hasOwnProperty(c.server)" :keys="{'label': conf_user_label}" @change="ConfChangeOptions(c)">User Context</ui-select>
                    <div class="settings row4 ui-button-group" :style="{'grid-column':i+3}">
                        <ui-icon-button icon="content_copy" color="primary" tooltip="Copy Selected" :disabled="!c.server" @click="conf_copy_col=c"></ui-icon-button>
                        <ui-icon-button icon="content_paste" color="primary" tooltip="Paste Selected" :disabled="!c.server || !conf_copy_col || conf_copy_col==c" @click="conf_paste_col=c;$refs.copy.open()"></ui-icon-button>
                        <ui-icon-button icon="post_add" color="green" tooltip="Add Config" :disabled="!c.server" @click="conf_add_col=c;$refs.add.open()"></ui-icon-button>
                        <ui-icon-button icon="drive_file_move" color="orange" tooltip="Move Stanza" :disabled="true || !c.server" @click="conf_move_col=c;$refs.move.open()"></ui-icon-button>
                        <ui-icon-button icon="backspace" color="red" tooltip="Remove Stanza" :disabled="!c.server" @click="conf_remove_col=c;$refs.remove.open()"></ui-icon-button>
                        <ui-icon-button icon="refresh" color="default" tooltip="Refresh" :disabled="!c.server" @click="ConfChangeOptions(c,true)" :loading="c.loading > 0"></ui-icon-button>
                    </div>
                    <div class="loading row5" :style="{'grid-column':i+3}"><ui-progress-linear v-show="c.loading > 0"></ui-progress-linear></div>
                </template>
                <!-- Conf Model -->
                <template v-for="file,f of conf_model">
                    <!-- File -->
                    <ui-icon-button class="conf-hide" color="green" size="mini" :type="conf_hide[file.key]?'primary':'secondary'" :icon="conf_hide[file.key]?'arrow_drop_up':'arrow_drop_down'" @click="ConfShowHide(file.key)"></ui-icon-button>
                    <ui-checkbox class="conf-file-left" v-model="conf_tick[file.key]" @change="ConfChangeTick(file.key)">{{f}}.conf</ui-checkbox>
                    <template v-for="app,a of conf_model[f].apps" v-if="!conf_hide[file.key] && (conf_setting_apps.length == 0 || conf_setting_apps.includes(a))">
                        <!-- App -->
                        <ui-icon-button class="conf-hide" color="green" size="mini" :type="conf_hide[app.key]?'primary':'secondary'" :icon="conf_hide[app.key]?'arrow_drop_up':'arrow_drop_down'" @click="ConfShowHide(app.key)"></ui-icon-button>
                        <ui-checkbox class="conf-app-left" v-model="conf_tick[app.key]" :title="a" @change="ConfChangeTick(app.key)">{{a}} <img class="conf-sub-image" :src="`${SPLUNKD_PATH}/${a}/static/appIcon.png`" @error="ConfFixImage"/></ui-checkbox>
                        <!-- App Detail -->
                        <div v-for="col,c of conf_model[f].apps[a].cols" class="conf-app-col" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}">
                            <a v-if="app.url" :href="app.url" target="_blank" :title="col.label">{{col.label}}</a><span v-else :title="col.label">{{col.label}}</span>
                            <span v-if="col.version" :title="`Version ${col.version}`"> ({{col.version}})</span>
                        </div>
                        <template v-for="stanza,s of conf_model[f].apps[a].stanzas" v-if="!conf_hide[app.key]">
                            <!-- Stanza -->
                            <ui-icon-button class="conf-hide" color="green" size="mini" :type="conf_hide[stanza.key]?'primary':'secondary'" :icon="conf_hide[stanza.key]?'arrow_drop_up':'arrow_drop_down'" @click="ConfShowHide(stanza.key)"></ui-icon-button>
                            <ui-checkbox class="conf-stanza-left" v-model="conf_tick[stanza.key]" @change="ConfChangeTick(stanza.key)">[{{s}}]</ui-checkbox>
                            <!-- Stanza Details -->
                            <div v-for="col,c of conf_model[f].apps[a].stanzas[s].cols" class="conf-stanza-col" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}">
                                <span class="material-icons" :title="'Sharing: '+col.sharing">{{SHARING_ICON[col.sharing]}}</span>
                                <span title="The user who owns this stanza">Owner: <b>{{col.owner}}</b></span>
                                <span v-if="!col.can_write">Missing write capability</span>
                                <span v-if="!col.safe">Contact Splunk Cloud Support to change</span>
                                <span v-else-if="!col.authorized">Requires {{col.roles.join(' or ')}} role</span>
                                
                            </div>
                            <template v-for="attr,x of conf_model[f].apps[a].stanzas[s].attrs" v-if="!conf_hide[stanza.key]">
                                <!-- Attribute -->
                                <ui-checkbox :class="{'conf-attr-left':true, 'conf-diff': attr.state==CONF_DIFF, 'conf-same': attr.state==CONF_SAME}" v-model="conf_tick[attr.key]" @change="ConfChangeTick(attr.key)">{{x}}</ui-checkbox>
                                <template v-for="col,c of conf_model[f].apps[a].stanzas[s].attrs[x].cols">
                                    <!-- Values -->
                                    <ui-textbox v-if="typeof(col.value) == 'string'" :class="{'conf-attr-col':true, 'conf-diff': attr.state==CONF_DIFF, 'conf-same': attr.state==CONF_SAME}" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}" :disabled="!col.edit" v-model="conf_data[col.key][a][s].attr[x]" @change="ConfChangeValue(c,f,a,s,x)"></ui-textbox>
                                    <ui-checkbox v-else :class="{'conf-attr-col':true, 'conf-diff': attr.state==CONF_DIFF, 'conf-same': attr.state==CONF_SAME}" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}" :disabled="!col.edit" v-model="conf_data[col.key][a][s].attr[x]" @change="ConfChangeValue(c,f,a,s,x)"></ui-checkbox>
                                </template>
                            </template>
                        </template>
                    </template>
                </template>
                <ui-confirm ref="copy" title="Copy Selected Configuration" @confirm="ConfCopy" :close-on-confirm="false" :loading="conf_copy_loading">
                    <p v-for="(task) in ConfCopyTasks()" :class="task.class">{{task.text}}</p>
                </ui-confirm>
                <ui-confirm ref="add" title="Add Config" @confirm="ConfAdd" :close-on-confirm="false" :loading="conf_add_loading">
                    <template v-if="conf_add_col">
                        <ui-select has-search :options="Options(conf_setting_files,conf_servers[conf_add_col.server].files)" v-model="conf_add_file">File</ui-select>
                        <ui-select has-search :options="conf_servers[conf_add_col.server].apps.map(a=>a.name)" v-model="conf_add_app">App</ui-select>
                        <div class="flex"><ui-textbox class="grow" v-model="conf_add_stanza">New Stanza</ui-textbox><ui-select class="grow" v-if="conf_add_file && conf_add_app" has-search :options="Object.keys(conf_data[ConfKey(conf_add_col,conf_add_file)][conf_add_app])" v-model="conf_add_stanza">Existing Stanza</ui-select></div>
                        Attributes
                        <ui-textbox class="compact" v-for="(attr,x) in conf_add_attrs" v-model="conf_add_attrs[x]" placeholder="attribute = value" :invalid="!VALID_ATTR.test(attr)" @change="ConfAddLine(x)"></ui-textbox>
                    </template>
                </ui-confirm>
                <ui-confirm ref="move" title="Move Selected Stanza" @confirm="ConfMove" @deny="">
                    This hasnt been built yet sorry.
                </ui-confirm>
                <ui-confirm ref="remove" title="Remove Stanza" @confirm="ConfRemove" @deny="">
                    The following Stanzas will be removed. To remove individual attributes, remove their value in the main editor.
                    {{ConfGetStanza(conf_remove_col)}}
                </ui-confirm>
            </ui-tab>
        </ui-tabs>
        <ui-snackbar-container ref="errorbar" position="center"></ui-snackbar-container>
    </div>
    <script>
        function i18n_register(catalog) {return}
        const STATIC_PREFIX = "{{SPLUNKWEB_URL_PREFIX}}/static/app/badrcm"
    </script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
    <!--<<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>-->
    <!--script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>-->
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>-->
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/badrcm/vue.min.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/badrcm/keen-ui.min.js"></script>
    <script>
const REST_ENDPOINT = `/${window.$C.LOCALE}/splunkd/__raw/services/badrcm?output_mode=json`
const CSRF = /splunkweb_csrf_token_\d+=(\d+)/.exec(document.cookie)[1]
const DEFAULT_APP_CONTEXT = {name:'-', label:"All"}
const SYSTEM_APP_CONTEXT = {name:'system', label:"System"}
const DEFAULT_USER_CONTEXT = {name:'nobody', realname:"Nobody"}
const SHOW_OPTIONS = ['All','Different','Missing']
const CONF_COLUMNS_MAX = 8
const CONF_FILES = ['props', 'inputs', 'outputs', 'transforms', 'app', 'server', 'authentication', 'authorize', 'badacs', 'badrcm', 'collections', 'commands', 'datamodels', 'eventtypes', 'fields', 'global-banner', 'health', 'indexes', 'limits', 'macros', 'passwords', 'savedsearches', 'serverclass', 'tags', 'web']
const SPLUNK_CLOUD_BLACKLIST = ['server','limits']
const DELIM = "\0"

function imgError(image){
    console.log(image)
    image.onerror = "";
    image.src = `${STATIC_PREFIX}/appIcon.png`;
    return true;
}

Vue.prototype.localStorage = window.localStorage
Vue.use(KeenUI);
const vue = new Vue({
    el: '#vue',
    data: {
        servers: {},
        startup: true,
        conf_loading: 1,
        conf_data: {}, // Splunk Config responses
        conf_model: {}, // View Model
        conf_servers: {},
        conf_tick: {}, // Selected for actions
        conf_hide: {}, // Hidden - persist to local storage
        conf_setting_apps: [],
        conf_setting_columns_option: "2",
        conf_setting_files: [CONF_FILES[0]],
        //conf_setting_files_options: CONF_FILES,
        conf_setting_show: SHOW_OPTIONS[0],
        conf_setting_show_options: SHOW_OPTIONS,
        conf_columns: Array.from({length:CONF_COLUMNS_MAX}, u => ({
            server: '',
            app: DEFAULT_APP_CONTEXT,
            user: DEFAULT_USER_CONTEXT,
            loading: 0,
        })),
        conf_app_label: 'label',
        conf_user_label: 'realname',
        conf_add_col: null,
        conf_add_file: "",
        conf_add_app: "",
        conf_add_stanza: "",
        conf_add_attrs: [""],
        conf_add_loading: false,
        conf_copy_col: null,
        conf_paste_col: null,
        conf_copy_tasks: [],
        conf_copy_loading: false,
        conf_move_col: null,
        conf_remove_col: null,
        addserver_host: "",
        addserver_host_error: "",
        addserver_auth: "",
        addserver_auth_error: "",
        addserver_shared: true,
        addserver_loading: false,
        VALID_ATTR: RegExp('^[^#=]+=[^=]+$'),
        DEFAULT_APP_CONTEXT: DEFAULT_APP_CONTEXT,
        SYSTEM_APP_CONTEXT: SYSTEM_APP_CONTEXT,
        DEFAULT_USER_CONTEXT: DEFAULT_USER_CONTEXT,
        CONF_COLUMN_OFFSET: 3,
        CONF_SAME: Symbol(),
        CONF_DIFF: Symbol(),
        SHARING_ICON: {
            'global':"public",
            'app':"web_asset",
            'user':"account_circle",
            'system': "settings",
        },
        SPLUNKD_PATH: `/${window.$C.LOCALE}/splunkd/__raw/servicesNS/${window.$C.USERNAME}`,
    },
    computed: {
        conf_apps(){
            // Definitive list of all known apps, grouped together
            let apps = {
                'system': {'name': 'system', 'label':{}, 'url': "", 'version':{}, 'visable': {}}
            }
            for (const [server,data] of Object.entries(this.conf_servers)){
                for (const app of data.apps){
                    
                    if(!apps.hasOwnProperty(app.name)){
                        apps[app.name] = {'name': app.name, 'label':{}, 'url': "", 'version':{}, 'visable': {}}
                    } 
                    if(app.label){
                        apps[app.name].label[server] = app.label
                    }
                    if(app.details){
                        apps[app.name].url = app.details
                    }
                    if(app.version){
                        apps[app.name].version[server] = app.version
                    }
                    if(app.visable){
                        apps[app.name].visable[server] = app.visable
                    }
                }
            }
            return apps
        },
        conf_setting_apps_options(){
            // Dropdown list of App Options
            return this.Aus(["system", ...Object.values(this.conf_servers).map(s => s.apps.map(a => a.name).flat()).flat()]) 
        },
        conf_setting_files_options(){
            // Dropdown list of File Options
            return this.Aus(Object.values(this.conf_servers).map(s => s.files).flat())
        },
        conf_setting_columns_options() {
            // Dropdown list of Column Options (as a string)
            let start = 2
            let end = CONF_COLUMNS_MAX
            return [...Array(end-start+1).keys()].map(i => String(i + start));
        },
        conf_setting_columns() {
            // The column option, but as a number
            return Number(this.conf_setting_columns_option)
        }
    },
    methods: {
        //
        // Home
        //
        AddServer(){
            this.addserver_loading = true
            this.addserver_host = this.addserver_host.trim()
            this.addserver_auth = this.addserver_auth.trim()
            this.Request('addserver',{server:this.addserver_host, token:this.addserver_auth, shared:this.addserver_shared})
            .then(resp => {
                console.log(resp)
                this.$set(this.conf_servers,this.addserver_host,resp)
                this.addserver_host = ""
                this.addserver_auth = ""
                this.addserver_shared = true
                this.addserver_loading = false
            }, e => {
                console.log(e)
                this.addserver_loading = false
                this.addserver_host_error = e.message
            })
        },
        //
        // Config Tab
        //
        ConfChangeValue(c,f,a,s,x){
            //form['file'] and form['server'] and form['stanza'] and form['attr'] and form['value']
            // All Apps uses confs own app, not context
            const key = this.ConfKey(this.conf_columns[c],f)
            let options = {
                server: this.conf_columns[c].server,
                user: this.conf_columns[c].user.name,
                app: (this.conf_columns[c].app.name == DEFAULT_APP_CONTEXT.name ? a : this.conf_columns[c].app.name),
                file: f,
                stanza: s,
                attr: x,
                value: this.conf_data[key][a][s].attr[x]}
            console.log(options)
            return this.Request('setconf',options).then(resp => {
                console.log(resp)
                for (const respapp in resp){
                    if(resp[respapp][s]){
                        this.$set(this.conf_data[key][respapp],s,resp[respapp][s])
                    } else console.warn(`Stanza ${s} wasnt found in response`,resp)
                }

                // For all active columns of the same file not including this one
                let tasks = []
                for (const target of Object.keys(this.conf_data)){
                    if (target == key) continue // Dont grab what we just changed
                    const [server, app, user, file] = target.split('|')
                    if (server !== this.conf_columns[c].server || file !== f) continue // Only grab same server and file
                    console.log(server,app,user,file,s)
                    tasks.push(this.Request('getconf',{'file': file, 'server': server, 'app': app, 'user': user, 'stanza':s}).then(resp => {
                        console.log(resp)
                        for (const respapp in resp){
                            if(resp[respapp][s]){
                                this.$set(this.conf_data[target][respapp],s,resp[respapp][s])
                            } else console.warn(`Stanza ${s} wasnt found in response`,resp)
                        }
                    }))
                }
                return Promise.all(tasks)
            }).then(()=>{
                this.ConfModelUpdate()
            })
            
        },
        ConfModelUpdate(){
            // Generates the merged view of configuration used for display
            console.time('ConfModelUpdate')
            let model = {}
            // DECOM let app_labels = {}
            // DECOM app_labels[this.SYSTEM_APP_CONTEXT.name] = new Set([this.SYSTEM_APP_CONTEXT.label])

            const columns = Object.entries(this.conf_columns.slice(0,this.conf_setting_columns)).filter(c => c[1].server).map(c => {
                c[0] = parseInt(c[0])
                return c
            }) //Add Required CSS Column Offset
            console.log(columns,this.conf_setting_files)
            for (const file of this.conf_setting_files){
                // Get all data
                let data = []
                for (const [index,column] of columns){
                    const cd = this.conf_data[this.ConfKey(column,file)]
                    console.log(column,file,cd)
                    if (!cd) continue
                    data.push(cd)
                }
                console.log(file,data)
                if (data.length === 0) continue

                // Create file parent
                model[file] = {
                    apps: {},
                    key: file,
                    state: null,
                }

                // Add tick placeholder
                if (!this.conf_tick.hasOwnProperty(model[file].key)) this.$set(this.conf_tick,model[file].key,false)
                    
                // Get all apps
                const apps = this.Aus(data.map(d => Object.keys(d)).flat())
                for (const app of apps){
                    // Create app parent
                    model[file].apps[app] = {
                        stanzas: {},
                        cols: {},
                        //label: this.Aus(Object.values(this.conf_apps[app].label)).join(" / "),
                        url: this.conf_apps[app].url,
                        key: `${file}|${app}`,
                        state: null,
                    }

                    // Create app in options list if requried
                    // DECOM if (!app_labels[app]) app_labels[app] = new Set()

                    // Get app columns
                    for (const [index, column] of columns){
                        const label = this.conf_apps[app].label[column.server]
                        if (label){
                            model[file].apps[app].cols[index] = {
                                'label': label
                            }
                            const version = this.conf_apps[app].version[column.server]
                            if (version){
                                model[file].apps[app].cols[index]['version'] = version
                            }
                        }

                        // Get Labels
                        // DECOM const y = this.conf_apps[app].label[column.server]
                        // DECOM if (y) app_labels[app].add(y)
                    }

                    // Add tick placeholder
                    if (!this.conf_tick.hasOwnProperty(model[file].apps[app].key)) this.$set(this.conf_tick,model[file].apps[app].key,false)

                    // Get all stanzas
                    const stanzas = this.Aus(data.map(d => Object.keys(d[app] || {})).flat())
                    for (const stanza of stanzas){
                        // Create stanza parent
                        model[file].apps[app].stanzas[stanza] = {
                            attrs: {},
                            cols: {},
                            key: `${file}|${app}|${stanza}`,
                            state: null,
                        }

                        // Get stanza columns
                        for (const [index, column] of columns){
                            const x = this.GetChild(this.conf_data[this.ConfKey(column,file)],[app,stanza,'acl'])
                            if (x !== undefined){
                                // Figure out if this stanza can be changed - If user is owner, if role = * or if user has role
                                x.authorized = (x.owner == this.conf_servers[column.server].rights.username) || x.roles.some(role => {
                                    return role == "*" || this.conf_servers[column.server].rights.roles.includes(role)
                                })
                                // Splunk Cloud Guardrails
                                x.safe = !(column.server.endsWith(".splunkcloud.com") && SPLUNK_CLOUD_BLACKLIST.includes(file))
                                
                                x.edit = x.can_write && x.authorized && x.safe
                                model[file].apps[app].stanzas[stanza].cols[index] = x
                            }
                        }

                        // Add tick placeholder
                        if (!this.conf_tick.hasOwnProperty(model[file].apps[app].stanzas[stanza].key)) this.$set(this.conf_tick,model[file].apps[app].stanzas[stanza].key,false)

                        // Get all attributes
                        const attrs = this.Aus(data.map(d => Object.keys(this.GetChild(d,[app,stanza,'attr'],{}))).flat())
                        for (const attr of attrs){

                            // Create attribute parent
                            model[file].apps[app].stanzas[stanza].attrs[attr] = {
                                cols: {},
                                key: `${file}|${app}|${stanza}|${attr}`,
                                state: null,
                            }

                            let miss = false
                            let diff = false
                            let first                             

                            // Get all values

                            for (const [index, column] of columns){
                                value = this.GetChild(this.conf_data[this.ConfKey(column,file)],[app,stanza,'attr',attr])
                                if(value !== undefined){
                                    if(first === undefined){
                                        first = value
                                    } else {
                                        diff = diff || first !== value
                                    }
                                    // Get attribute columns (values)
                                    model[file].apps[app].stanzas[stanza].attrs[attr].cols[index] = {
                                        value: value,
                                        key: this.ConfKey(column,file),
                                        edit: model[file].apps[app].stanzas[stanza].cols[index].edit
                                    }
                                } else {
                                    miss = true
                                }
                            }
                            if (diff){
                                model[file].apps[app].stanzas[stanza].attrs[attr].state = this.CONF_DIFF
                                model[file].apps[app].stanzas[stanza].state = this.CONF_DIFF
                                model[file].apps[app].state = this.CONF_DIFF
                                model[file].state = this.CONF_DIFF
                            }
                            else if (!miss && columns.length>1) {
                                if(!model[file].apps[app].stanzas[stanza].attrs[attr].state) model[file].apps[app].stanzas[stanza].attrs[attr].state =  this.CONF_SAME
                                if(!model[file].apps[app].stanzas[stanza].state) model[file].apps[app].stanzas[stanza].state = this.CONF_SAME
                                if(!model[file].apps[app].state) model[file].apps[app].state = this.CONF_SAME
                                if(!model[file].state) model[file].state = this.CONF_SAME
                            }

                            // Add tick placeholder
                            if (!this.conf_tick.hasOwnProperty(model[file].apps[app].stanzas[stanza].attrs[attr].key)) this.$set(this.conf_tick,model[file].apps[app].stanzas[stanza].attrs[attr].key,false)
                        }
                    }
                }
            }
            console.timeEnd('ConfModelUpdate')
            console.log(model)
            this.$set(this,'conf_model',model)

            // Reformat App Options list
            /*const app_options = Object.keys(app_labels).sort().map(name => ({
                name: name,
                label: Array.from(app_labels[name]).join(" / ")
            }))
            this.$set(this,'conf_setting_apps_options',app_options)*/
        },
        ConfKey(c,f){
            // Returns a standardised key for conf_data
            return `${c.server}|${c.app.name || c.app}|${c.user.name || c.user}|${f}`
        },
        ConfFixImage(event){
            image = event.srcElement
            
            image.parentNode.removeChild(image)
            /*image.onerror = "";
            image.src = "{{SPLUNKWEB_URL_PREFIX}}/static/app/badrcm/appIcon.png";*/
            return true;
        },
        ConfCheckColumnOptions(c){
            // Ensures Column Options are valid when changed.
            if(!c.server || !this.conf_servers.hasOwnProperty(c.server)){
                c.app = DEFAULT_APP_CONTEXT
                c.user = DEFAULT_USER_CONTEXT
            } else {
                if(c.app != DEFAULT_APP_CONTEXT && !this.conf_servers[c.server].apps.hasOwnProperty(c.app)){
                    console.warn(`${c.app.name || c.app} wasnt found in ${c.server} apps, changing to ${DEFAULT_APP_CONTEXT}`)
                    c.app = DEFAULT_APP_CONTEXT
                }
                if(c.user != DEFAULT_USER_CONTEXT && !this.conf_servers[c.server].users.hasOwnProperty(c.user)){
                    console.warn(`${c.user.name || c.user} wasnt found in ${c.server} apps, changing to ${DEFAULT_USER_CONTEXT}`)
                    c.user = DEFAULT_USER_CONTEXT
                }
            }
        },
        ConfChangeOptions(column,force=false){
            // Ensures conf_data and conf_model are updated to reflect the Column Options
            const columns = column ? [column] : this.conf_columns
            let tasks = []
            for(const c of columns){
                if(!c.server) continue // Ignore unselected
                for (const f of this.conf_setting_files){
                    const key = this.ConfKey(c,f)
                    if(!force && this.conf_data.hasOwnProperty(key)) continue // Have data already
                    
                    c.loading += 1
                    const task = this.Request('getconf',{
                        file: f,
                        server: c.server,
                        app: c.app.name,
                        user: c.user.name,
                    }).then(resp => {
                        this.$set(this.conf_data,key,resp)
                        c.loading -= 1
                    })
                    tasks.push(task)
                }
            }
            return Promise.all(tasks).then(this.ConfModelUpdate)
        },
        ConfChangeFiles(){
            localStorage.setItem('badrcm_conf_setting_files', this.conf_setting_files.join(DELIM))
        },
        ConfChangeApps(){
            localStorage.setItem('badrcm_conf_setting_apps', this.conf_setting_apps.join(DELIM))
        },
        ConfChangeShow(){
            localStorage.setItem('badrcm_conf_setting_show', this.conf_setting_show)
        },
        ConfChangeColumns(){
            localStorage.setItem('badrcm_conf_setting_columns_option', this.conf_setting_columns_option)
        },
        ConfShowHide(key){
            this.$set(this.conf_hide,key,!this.conf_hide[key])
            localStorage.setItem('badrcm_conf_hide', Object.entries(this.conf_hide).filter(x => x[1]).map(x => x[0]).join(DELIM))
        },
        ConfChangeTick(key){
            console.time(`ConfChangeTick ${key}`)
            // Mirror Children
            const prefix = key+'|'
            for (const child of Object.keys(this.conf_tick)){
                if (child.startsWith(prefix)) this.$set(this.conf_tick,child,this.conf_tick[key])
            }
            // Untick parents
            if(this.conf_tick[key] == false){
                let parents = key.split('|')
                parents.pop()
                while(parents.length){
                    this.$set(this.conf_tick,parents.join('|'), false)
                    parents.pop()
                }
            }
            console.timeEnd(`ConfChangeTick ${key}`)
        },
        ConfGetStanza(c){
            // Gets selected Stanzas as an array
            if(!c) return []
            console.time(`ConfGetStanza ${c.server}`)
            let selected = []
            for (const [key,ticked] of Object.entries(this.conf_tick)){
                if(!ticked) continue
                const p = key.split('|')
                if(p.length !== 3) continue
                selected.push(p)
            console.timeEnd(`ConfGetStanza ${c.server}`)
            return selected
        },
        ConfGetSelected(c){
            // Gets selected Attributes and Values as an object
            if(!c) return {}
            console.time(`ConfGetSelected ${c.server}`)
            let selected = {}
            for (const [key,ticked] of Object.entries(this.conf_tick)){
                if(!ticked) continue
                const p = key.split('|')
                if(p.length !== 4) continue
                

                const value = this.GetChild(this.conf_data[this.ConfKey(c,p[0])],[p[1],p[2],'attr',p[3]])
                if(value == undefined) continue
                
                if(!selected[p[0]]) selected[p[0]] = {[p[1]]: {[p[2]]: {[p[3]]: value}}}
                else if(!selected[p[0]][p[1]]) selected[p[0]][p[1]] = {[p[2]]: {[p[3]]: value}}
                else if(!selected[p[0]][p[1]][p[2]]) selected[p[0]][p[1]][p[2]] = {[p[3]]: value}
                else selected[p[0]][p[1]][p[2]][p[3]] = value

            }
            console.log(selected)
            console.timeEnd(`ConfGetSelected ${c.server}`)
            return selected
        },
        ConfCopyTasks(){
            let source = this.conf_copy_col
            let target = this.conf_paste_col
            if(!source || !target) return []

            const conf = this.ConfGetSelected(source)

            console.time(`ConfCopyTasks ${source.server} ${target.server}`)
            let tasks = []
            let description = []

            for (const file in conf){
                console.log(file)
                const data = this.conf_data[this.ConfKey(target,file)]
                if(!data){
                    console.warn(`The file {file} doesnt exist on {target.server}`)
                    description.push({'class': 'error', 'text': `${file}.conf does not exist on this Splunk Server.`})
                    continue
                }

                for (const app in conf[file]){
                    if(this.GetChild(data,[app]) == undefined){
                        description.push({'class': 'create', 'text': `${app}/${file}.conf`})
                        const newapp = {
                            name: app,
                            author: window.$C.USERNAME,
                        }
                        const label = this.conf_apps[app].label[source]
                        if (label) newapp.label = label
                        const version = this.conf_apps[app].version[source]
                        if (version) newapp.version = version
                        const visable = this.conf_apps[app].visable[source]
                        if (visable) newapp.visable = visable

                        tasks.push([newapp])
                    } else description.push({'class': 'skip', 'text': `${app}/${file}.conf`})

                    for (const stanza in conf[file][app]){
                        if(this.GetChild(data,[app,stanza]) == undefined){
                            description.push({'class': 'create', 'text': `[${stanza}]`})
                            tasks.push([app,file,stanza])
                        } else description.push({'class': 'skip', 'text': `[${stanza}]`})

                        attrs = {}
                        for (const attr in conf[file][app][stanza]){
                            const value = this.GetChild(data,[app,stanza,'attr',attr])
                            if(value == undefined){
                                description.push({'class': 'create', 'text': `${attr} = ${conf[file][app][stanza][attr]}`})
                                attrs[attr] = conf[file][app][stanza][attr]
                            } else if(value !== conf[file][app][stanza][attr]){
                                description.push({'class': 'modify', 'text': `${attr} = ${conf[file][app][stanza][attr]} (was ${value})`})
                                attrs[attr] = conf[file][app][stanza][attr]
                            } else if(value !== conf[file][app][stanza][attr]) tasks.push({'class': 'skip', 'text': `${attr} = ${conf[file][app][stanza][attr]}`})
                        }
                        if (attrs !== {}){
                            tasks.push([app,file,stanza,attrs])
                        }
                    }
                }
            }
            console.log(tasks)
            console.log(description)
            console.timeEnd(`ConfCopyTasks ${source.server} ${target.server}`)
            this.$set(this,'conf_copy_tasks',tasks)
            return description
        },
        ConfCopy(){
            this.conf_copy_loading = true
            const options = {
                server: this.conf_paste_col.server,
                user: this.conf_paste_col.user.name,
                tasks: JSON.stringify(this.conf_copy_tasks)
            }
            return this.Request('tasks',options).then(()=>{
                this.conf_copy_loading = false // Order important
                Vue.nextTick(()=>{
                    this.$refs.copy.close() // Order important
                    this.conf_copy_col = null
                    this.conf_paste_col = null
                    this.conf_copy_tasks = []
                })
                return this.ConfChangeOptions(this.conf_paste_col,true)
            }, ()=>{
                this.conf_copy_loading = false
            })
        },
        ConfMove(c){

        },
        ConfAdd(c){
            this.conf_add_loading = true
            let tasks = []
            if (!this.conf_data[vue.ConfKey(this.conf_add_col,this.conf_add_file)][this.conf_add_app].hasOwnProperty(this.conf_add_stanza)){
                tasks.push([this.conf_add_app,this.conf_add_file,this.conf_add_stanza])
            }
            let attrs = {}
            for (const line of this.conf_add_attrs){
                if (!this.VALID_ATTR.test(line)){
                    console.warn(`Skipping line ${line}`)
                    continue
                }
                const [attr,value] = line.split("=")
                attrs[attr.trim()] = value.trim()
            }
            tasks.push([this.conf_add_app,this.conf_add_file,this.conf_add_stanza,attrs])
            const options = {
                server: this.conf_add_col.server,
                user: this.conf_add_col.user.name,
                tasks: JSON.stringify(tasks)
            }
            return this.Request('tasks',options).then(()=>{
                this.conf_add_loading = false
                Vue.nextTick(()=>{
                    this.$refs.add.close()
                    this.conf_add_col = null
                    this.conf_add_file = ''
                    this.conf_add_app = ''
                    this.conf_add_stanza = ''
                    this.conf_add_attrs = []
                })
                return this.ConfChangeOptions(this.conf_paste_col,true)
            }, ()=>{
                this.conf_add_loading = false
            })
        },
        ConfAddLine(i){
            if(this.conf_add_attrs[i+1] == undefined && this.VALID_ATTR.test(this.conf_add_attrs[i])) this.conf_add_attrs.push('')
        },
        ConfRemove(){
            return Promise.all(this.ConfGetStanza(this.conf_remove_col).map(options => {

            }))
        },
        //
        // Generic Helpers
        //
        Aus(a){ //Arrays Unique Sorted 
            return Array.from(new Set(a)).sort((a,b)=> a.localeCompare(b, undefined, {sensitivity: 'base'}))
        },
        Options(){
            return Array.from(new Set([...arguments].flat()))
        },
        Request(action,data={}) {
            let form = new URLSearchParams()
            form.append('a', action)
            for (x in data){
                form.append(x, data[x])
            }
            console.log(form.toString())
            return fetch(REST_ENDPOINT, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-Splunk-Form-Key': CSRF,
                },
                body: form
            })
            .catch(e => {
                console.warn(e)
                this.$refs.errorbar.createSnackbar({
                    message: e.message
                });
                return Promise.reject({ cause: 'local', message: e.message });
            })
            .then(resp => {
                console.log(resp.status)
                json = resp.json().catch(e => {
                    console.warn(e)
                    return resp.text().then(text =>{
                        this.$refs.errorbar.createSnackbar({
                            message: text
                        });
                        return Promise.reject({ cause: 'parse', message: text });
                    })
                    
                })
                if (resp.status == 200){
                    return json
                } else {
                    return json.then(data => {
                        console.warn(resp.status, data)
                        this.$refs.errorbar.createSnackbar({
                            message: data.message
                        });
                        return Promise.reject({ cause: resp.status, message: data.message})
                    })
                }
            })
        },
        GetChild(object, keys, def=undefined) {
            if (object === undefined) return def
            for (const key of keys){
                if (object.hasOwnProperty(key)){
                    object = object[key]
                } else return def
            }
            return object
        },
    },
    mounted() {
        // Force disclaimer if it hasnt been accepted
        if (!localStorage.badrcm_disclaimer){
            this.$refs.disclaimer.open()
        }
        
        
        /*if(localStorage.badrcm_conf_setting_show){
            this.$set(this, 'conf_setting_show', localStorage.getItem('badrcm_conf_setting_show'))
        }*/

        // Remember previous setttings
        if(localStorage.badrcm_conf_setting_columns_option){
            this.$set(this, 'conf_setting_columns_option', localStorage.getItem('badrcm_conf_setting_columns_option'))
        }
        if(localStorage.badrcm_conf_hide){
            let conf_hide = localStorage.getItem('badrcm_conf_hide').split(DELIM).reduce((a,b)=>{
                a[b] = true
                return a
            },{})
            this.$set(this, 'conf_hide', conf_hide)
        }

        // Load base data
        this.conf_loading = 1
        this.Request('getservers').then(resp => {
            this.$set(this,'conf_servers',resp)
        }).catch(e => {
            console.error("FATAL ERROR, Failed to get servers")
        }).then(x => {
            // Remember previous setttings
            if(localStorage.badrcm_conf_setting_files){
                this.$set(this, 'conf_setting_files', localStorage.getItem('badrcm_conf_setting_files').split(DELIM))
            }
            if(localStorage.badrcm_conf_setting_apps){
                this.$set(this, 'conf_setting_apps', localStorage.getItem('badrcm_conf_setting_apps').split(DELIM))
            }
            this.conf_loading = 0
            this.startup = false
        })
    },
    watch: {       
        /*conf_hide(next,prev){
            console.log('badrcm_conf_hide',next)
            if(next) localStorage.setItem('badrcm_conf_hide', Object.entries(next).filter(x => x[1]).map(x => x[0]).join(DELIM))
        }*/
    }
})
    </script>
</body>
</html>