<html>

<head>
    <title>BADRCM</title>
    <link href="{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/keen-ui.min.css" rel="stylesheet" type="text/css" />   
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
    -->
    <!--<link href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" rel="stylesheet" type="text/css"/>
    <link href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" rel="stylesheet" type="text/css"/>-->

    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        html {
            font-size: 100%;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
        }

        /* Material Icons */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'),
                local('MaterialIcons-Regular'),
                url({{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/material-icons.woff2) format('woff2');
        }
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }

        .settings {
            /*grid-template-rows: repeat(auto-fill, minmax(1.5em, 1fr));*/
        }

        .loading {
            height: 0.25rem
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-gap: 0.5em;
        }

        .ui-button-group {
            gap: .5rem;
        }

        /* Use disabled Tab as title */
        .ui-tab-header-item.is-disabled {
            opacity: 1;
        }

        /* CONF GRID */
        .grid {
            display: grid;
            column-gap: 1rem;
            align-items: center;
            /*grid-auto-rows: 2rem;*/
            font-family: Consolas, ui-monospace, monospace;
        }
        #conf > .ui-select{
            margin-bottom: 0;
        }
        .ui-select{
            margin-bottom: 0;
        }
        .conf {
            height: 1.5rem;
            line-height: 1.5rem;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-sub-image {
            height: 18px;
            /*line-height: inherit;
            vertical-align: middle;*/
        }
        .conf-sub-text {
            height: inherit;
            line-height: inherit;
            vertical-align: middle;
        }

        .conf-hide {
            grid-column-start: 1;
            /*height: 1.25rem;
            width: 1.25rem;*/
        }
        .conf-file-left {
            grid-column: 2;
            font-style: italics;
        }
        .conf-app-left {
            grid-column: 2;
            font-weight: bold;
            /*height: 36px;*/
            /*line-height: 36px;*/
            margin-top: 0.5em;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-app-col {
            /*height: 36px;
            line-height: 36px;*/
        }
        .conf-stanza-left {
            grid-column: 2;
            font-weight:bold;
            color: #E00000;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-stanza-col {
            line-height: 1.5rem;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-attr-left {
            grid-column: 2;
            height: 2rem;
            line-height: 2rem;
            color: #863B00;
            text-align: right;
            padding: 0 0.5rem;
            margin: 0 -0.5rem;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-attr-left > .ui-checkbox__label-text {
            float:right;
        }
        .conf-attr-col {
            height: 2rem;
            padding: 0 0.5rem;
            margin: 0 -0.5rem;
            overflow: hidden;
            white-space: nowrap;
        }
        .conf-same {
            background-color: #d1ffd1;
        }
        .conf-diff {
            background-color: #ffd1d1;
        }

        .row1 {
            grid-row: 1;
        }
        .row2 {
            grid-row: 2;
        }
        .row3 {
            grid-row: 3;
        }
        .row4 {
            grid-row: 4;
        }
        .row5 {
            grid-row: 5;
            height: .25rem;
        }
        .col1 {
            grid-column: 1;
        }
        .col1-2 {
            grid-column: 1 / 3;
        }
        .col2 {
            grid-column: 2;
        }
        .colall {
            grid-column: 1 / -1;
        }

        .half-input {
            width: 50%;
        }

    </style>
</head>

<body>
    <!--<header>
        <a class="navSkip" href="#navSkip" tabindex="1"></a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
        </div>
    </header>-->
    <div id="vue" class="main-section-body" data-role="main">
        <ui-tabs>
            <ui-tab disabled>
                <div slot="header" style="color:black;">Brett Adams' Dangerous REST Config Manager</div>
            </ui-tab>
            <ui-tab id="home" title="Home" selected>
                <h1>Welcome</h1>
                <p>This app is under active development.</p>
                <p>Created and supported by <a target="_blank" href="https://splunkbase.splunk.com/apps/#/author/s7orm">Brett Adams</a>. Please report issues on <a target="_blank" href="https://github.com/Bre77/badacs/issues">GitHub</a></p>
                <h3>Remote Servers</h3>
                <table>
                    <tr>
                        <th>Server</th><th>Port</th><th>Verify SSL</th><th>Apps</th><th>Users</th>
                    </tr>
                    <tr v-for="details,server in conf_servers">
                        <td>{{server}}</td><td>{{details.port}}</td><td>{{details.verify}}</td><td>{{details.apps.length}}</td><td>{{details.users.length}}</td>
                    </tr>
                </table>
                <h3>Add Server</h3>
                <ui-textbox label="Hostname" placeholder="stack.splunkcloud.com" v-model="addserver_host"
                    :invalid="addserver_host !== ''" :error="addserver_host_error"></ui-textbox>
                <ui-textbox label="Auth Token" v-model="addserver_auth" :invalid="addserver_auth !== ''"
                    :error="addserver_auth_error"></ui-textbox>
                <ui-checkbox label="Shared" v-model="addserver_shared"></ui-checkbox>
                <ui-button @click="AddServer">Submit</button>
            </ui-tab>
            <ui-tab id="conf" class="grid" title="Config" @select="ConfGetColumnConfig()" :style="{'grid-template-columns': `24px 1fr repeat(${this.conf_setting_columns}, 1fr)`}">
                <!-- Conf Page Settings -->
                <ui-select class="settings col1-2 row1" multiple has-search :options="conf_setting_files_options" v-model="conf_setting_files" @change="ConfChangeOptions()">Config Files</ui-select>
                <ui-select class="settings col1-2 row2" multiple has-search :options="conf_setting_apps_options" v-model="conf_setting_apps" :keys="{label: conf_app_label}" :loading="conf_loading > 0" placeholder="All Apps">Apps</ui-select>
                <ui-select class="settings col1-2 row3" :options="conf_setting_show_options" v-model="conf_setting_show">Show</ui-select>
                <ui-select class="settings col1-2 row4" :options="conf_setting_columns_options" v-model="conf_setting_columns_option" @change="ConfModelUpdate()">Columns</ui-select>
                <div class="loading col1-2 row5"><ui-progress-linear  v-show="conf_loading"></ui-progress-linear></div>
                <!-- Column Settings -->
                <template v-for="c,i of conf_columns.slice(0,conf_setting_columns)">
                    <ui-select class="settings row1" :style="{'grid-column':i+3}" :options="Object.keys(conf_servers)" :loading="conf_loading > 0" :disabled="Object.keys(conf_servers) == 0" v-model="c.server" @change="ConfCheckColumnOptions(c); ConfChangeOptions(c)" placeholder="Please select a server" label="Server" :invalid="!c.server"></ui-select>
                    <ui-select has-search class="settings row2" :style="{'grid-column':i+3}" :options="conf_servers.hasOwnProperty(c.server) ? [DEFAULT_APP_CONTEXT, SYSTEM_APP_CONTEXT, ...conf_servers[c.server].apps.filter(a => a.visable)] : [DEFAULT_APP_CONTEXT]" v-model="c.app" :disabled="!conf_servers.hasOwnProperty(c.server)" :keys="{label: conf_app_label}" @change="ConfChangeOptions(c)">App Context</ui-select>
                    <ui-select has-search class="settings row3" :style="{'grid-column':i+3}" :options="conf_servers.hasOwnProperty(c.server) ? [DEFAULT_USER_CONTEXT, ...conf_servers[c.server].users] : [DEFAULT_USER_CONTEXT]" v-model="c.user" :disabled="!conf_servers.hasOwnProperty(c.server)" :keys="{label: conf_user_label}" @change="ConfChangeOptions(c)">User Context</ui-select>
                    <!--<div class="settings row4 ui-button-group" :style="{'grid-column':i+3}">
                        <ui-icon-button icon="content_copy" color="primary" tooltip="Copy Selected" :disabled="true || !c.server" @click="context=c;$refs.copy.open()"></ui-icon-button>
                        <ui-icon-button icon="post_add" color="green" tooltip="Add Config" :disabled="true || !c.server" @click="context=c;$refs.add.open()"></ui-icon-button>
                        <ui-icon-button icon="drive_file_move" color="orange" tooltip="Move Stanza" :disabled="true || !c.server" @click="context=c;$refs.move.open()"></ui-icon-button>
                        <ui-icon-button icon="backspace" color="red" tooltip="Remove Stanza" :disabled="true || !c.server" @click="context=c;$refs.remove.open()"></ui-icon-button>
                    </div>-->
                    <div class="loading row5" :style="{'grid-column':i+3}"><ui-progress-linear v-show="c.loading"></ui-progress-linear></div>
                </template>
                <!-- Conf Model -->
                <template v-for="file,f of conf_model">
                    <!-- File -->
                    <ui-icon-button class="conf-hide" color="green" size="mini" :type="BTNTYP[conf_hide[file.key]?1:0]" :icon="BTNICO[conf_hide[file.key]?1:0]" @click="ConfShowHide(file.key)"></ui-icon-button>
                    <ui-checkbox class="conf-file-left" v-model="conf_tick[file.key]" @change="ConfChangeTick(file.key)">{{f}}.conf</ui-checkbox>
                    <template v-for="app,a of conf_model[f].apps" v-if="!conf_hide[file.key] && (conf_setting_apps.length == 0 || conf_setting_apps_names.includes(a))">
                        <!-- App -->
                        <ui-icon-button class="conf-hide" color="green" size="mini" :type="BTNTYP[conf_hide[app.key]?1:0]" :icon="BTNICO[conf_hide[app.key]?1:0]" @click="ConfShowHide(app.key)"></ui-icon-button>
                        <ui-checkbox class="conf-app-left" v-model="conf_tick[app.key]" :title="a" @change="ConfChangeTick(app.key)">{{app.label || a}} <img class="conf-sub-image" :src="`${SPLUNKD_PATH}/${a}/static/appIcon.png`" @error="ConfFixImage"/></ui-checkbox>
                        <!-- App Detail -->
                        <div v-for="col,c of conf_model[f].apps[a].cols" class="conf-app-col" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}"><a v-if="app.url" :href="app.url" target="_blank">{{col}}</a v-if="app.url"></div>
                        <template v-for="stanza,s of conf_model[f].apps[a].stanzas" v-if="!conf_hide[app.key]">
                            <!-- Stanza -->
                            <ui-icon-button class="conf-hide" color="green" size="mini" :type="BTNTYP[conf_hide[stanza.key]?1:0]" :icon="BTNICO[conf_hide[stanza.key]?1:0]" @click="ConfShowHide(stanza.key)"></ui-icon-button>
                            <ui-checkbox class="conf-stanza-left" v-model="conf_tick[stanza.key]" @change="ConfChangeTick(stanza.key)">[{{s}}]</ui-checkbox>
                            <!-- Stanza Details -->
                            <div v-for="col,c of conf_model[f].apps[a].stanzas[s].cols" class="conf-stanza-col" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}"><img :src="SHARING_ICON[col.sharing]" :title="'Sharing: '+col.sharing"><span class="conf-sub-text" :title="'Owner: '+col.owner"> {{col.owner}}</span></div>
                            <template v-for="attr,x of conf_model[f].apps[a].stanzas[s].attrs" v-if="!conf_hide[stanza.key]">
                                <!-- Attribute -->
                                <ui-checkbox :class="{'conf-attr-left':true, 'conf-diff': attr.state==CONF_DIFF, 'conf-same': attr.state==CONF_SAME}" v-model="conf_tick[attr.key]" @change="ConfChangeTick(attr.key)">{{x}}</ui-checkbox>
                                <template v-for="col,c of conf_model[f].apps[a].stanzas[s].attrs[x].cols">
                                    <!-- Values -->
                                    <ui-textbox v-if="typeof(col.value) == 'string'" :class="{'conf-attr-col':true, 'conf-diff': attr.state==CONF_DIFF, 'conf-same': attr.state==CONF_SAME}" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}" :disabled="!col.edit" v-model="conf_data[col.key][a][s].attr[x]" @change="ConfChangeValue(c,f,a,s,x)"></ui-textbox>
                                    <ui-checkbox v-else :class="{'conf-attr-col':true, 'conf-diff': attr.state==CONF_DIFF, 'conf-same': attr.state==CONF_SAME}" :style="{'grid-column':parseInt(c)+CONF_COLUMN_OFFSET}" :disabled="!col.edit" v-model="conf_data[col.key][a][s].attr[x]" @change="ConfChangeValue(c,f,a,s,x)"></ui-checkbox>
                                </template>
                            </template>
                        </template>
                    </template>
                </template>
                <ui-confirm ref="copy" title="Copy Selected Configuration" @confirm="ConfCopy" @deny="" v-if="context">
                    {{context.server}} <!--{{context.app.label}} {{context.user.label}}-->
                    <ui-select :options="Object.keys(conf_servers)" v-model="conf_copy_server">Target Server</ui-select>
                    <!--{{ Object.entries(conf_tick).filter(x => x[1]).map(x => x[0])}}-->
                </ui-confirm>
                <ui-confirm ref="add" title="Add Config" @confirm="ConfAdd" @deny="">
                    <ui-select has-search :options="conf_setting_files_options" v-model="conf_add_file">File</ui-select>
                    <ui-textbox v-model="conf_add_app">App</ui-textbox>
                    <ui-textbox v-model="conf_add_stanza">Stanza</ui-textbox>
                    <ui-textbox v-for="(attr,x) in conf_add_attrs" v-model="conf_add_attrs[x]"></ui-textbox>
                </ui-confirm>
                <ui-confirm ref="move" title="Move Selected Stanza" @confirm="ConfMove" @deny="">
                    This hasnt been built yet
                </ui-confirm>
                <ui-confirm ref="remove" title="Remove Stanza" @confirm="ConfRemove" @deny="">
                    Do you want to confirm this?
                </ui-confirm>
            </ui-tab>
        </ui-tabs>
    </div>
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>-->
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>-->
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>-->
    <script>
        function i18n_register(catalog) {return}
    </script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/vue.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/keen-ui.js"></script>
    <script>
        const CSRF = /splunkweb_csrf_token_\d+=(\d+)/.exec(document.cookie)[1]
        const DEFAULT_APP_CONTEXT = {name:'-', label:"All"}
        const SYSTEM_APP_CONTEXT = {name:'system', label:"System"}
        const DEFAULT_USER_CONTEXT = {name:'nobody', realname:"Nobody"}
        const SHOW_OPTIONS = ['All','Different','Missing']
        const CONF_COLUMNS_MAX = 8
        const CONF_FILES = ['props', 'inputs', 'outputs', 'transforms', 'app', 'server', 'authentication', 'authorize', 'badacs', 'collections', 'commands', 'datamodels', 'eventtypes', 'fields', 'global-banner', 'health', 'indexes', 'limits', 'macros', 'passwords', 'savedsearches', 'serverclass', 'tags', 'web']
        const SHARING_ICON = {
            'global':'{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/earth.svg',
            'app':'{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/application-array-outline.svg',
            'user':'{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/account-circle.svg',
            'system':'{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/cog.svg'
        }
        const DELIM = "\0"

        function imgError(image){
            console.log(image)
            image.onerror = "";
            image.src = "{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/appIcon.png";
            return true;
        }

        Vue.prototype.localStorage = window.localStorage
        Vue.use(KeenUI);
        const vue = new Vue({
            el: '#vue',
            data: {
                context: {},
                config: {},
                servers: {},
                conf_loading: 1,
                conf_data: {}, // Splunk Config responses
                conf_model: {}, // View Model
                conf_servers: {},
                conf_tick: {}, // Selected for actions
                conf_hide: {}, // Hidden - persist to local storage
                conf_setting_apps: [],
                conf_setting_apps_options: [],
                conf_setting_columns_option: "2",
                conf_setting_files: [CONF_FILES[0]],
                conf_setting_files_options: CONF_FILES,
                conf_setting_show: SHOW_OPTIONS[0],
                conf_setting_show_options: SHOW_OPTIONS,
                conf_columns: Array.from({length:CONF_COLUMNS_MAX}, u => ({
                    server: '',
                    app: DEFAULT_APP_CONTEXT,
                    user: DEFAULT_USER_CONTEXT,
                    loading: 0,
                })),
                conf_app_label: 'label',
                conf_user_label: 'realname',
                conf_add_file: "",
                conf_add_app: "",
                conf_add_stanza: "",
                conf_add_attrs: [""],
                conf_copy_server: "",
                addserver_host: "",
                addserver_host_error: "",
                addserver_auth: "",
                addserver_auth_error: "",
                addserver_shared: true,
                valid_line: RegExp('^[^#=]+=[^=]+$'),
                DEFAULT_APP_CONTEXT: DEFAULT_APP_CONTEXT,
                SYSTEM_APP_CONTEXT: SYSTEM_APP_CONTEXT,
                DEFAULT_USER_CONTEXT: DEFAULT_USER_CONTEXT,
                CONF_COLUMN_OFFSET: 3,
                CONF_SAME: Symbol(),
                CONF_DIFF: Symbol(),
                SHARING_ICON: SHARING_ICON,
                BTNTYP: ['primary','secondary'],
                BTNICO: ['arrow_drop_up','arrow_drop_down'],
                SPLUNKD_PATH: `/${window.$C.LOCALE}/splunkd/__raw/servicesNS/${window.$C.USERNAME}`,
            },
            computed: {
                conf_setting_apps_names(){
                    // Get array of selected apps and persist it to localStorage.
                    let names = Object.values(this.conf_setting_apps).map(a => a.name)
                    localStorage.setItem('badacs_conf_setting_apps', names.join(DELIM))
                    return names
                },
                conf_apps(){
                    // Definitive list of all known apps, grouped together
                    let apps = {
                        'system': {'name': 'system', 'label':{}, 'url': "", 'version':{}, 'visable': {}}
                    }
                    for (const [server,data] of Object.entries(this.conf_servers)){
                        for (const app of data.apps){
                            
                            if(!apps.hasOwnProperty(app.name)){
                                apps[app.name] = {'name': app.name, 'label':{}, 'url': "", 'version':{}, 'visable': {}}
                            } 
                            if(app.label){
                                apps[app.name].label[server] = app.label
                            }
                            if(app.details){
                                apps[app.name].url = app.details
                            }
                            if(app.version){
                                apps[app.name].version[server] = app.version
                            }
                            if(app.visable){
                                apps[app.name].visable[server] = app.visable
                            }
                        }
                    }
                    return apps
                },
                /*conf_apps_options(){
                    let apps = this.Afus(Object.values(this.conf_columns_ready).map(f => Object.values(f || {}).map(k => Object.keys(this.conf_data[k] || {})).flat()).flat())
                    return this.apps.map(a => ({
                        'name': a,
                        'label': this.Afus(apps.map(s => this.conf_apps[a].label ? this.conf_apps[a].label[s] : a).filter(l => l)).join(' / ')
                    }))
                },*/
                conf_columns_active(){
                    return Object.entries(this.conf_columns.slice(0,this.conf_setting_columns)).filter(c => c[1].server)
                },
                conf_columns_ready(){ // I dont like this
                    // A validated and visable list of config payloads mapped to their file and column number
                    console.time('conf_columns_ready')
                    const columns = this.conf_columns.slice(0,this.conf_setting_columns)
                    let output = this.conf_setting_files.reduce((x,f) => {
                        x[f] = columns.reduce((x,c,i) => {
                            const key = this.ConfKey(c,f) //ConfKey
                            if(this.conf_data.hasOwnProperty(key)){
                                x[i] = key
                            }
                            return x
                        },{})
                        return x
                    },{})
                    console.timeEnd('conf_columns_ready')
                    return output
                },
                /*acs_servers_options(){
                    return Object.keys(this.config).filter(s => this.config[s].acs)
                },*/
                conf_servers_active(){
                    return this.Afus(this.conf_columns.slice(0,this.conf_setting_columns).map(c => c.server).filter(s => this.conf_servers.hasOwnProperty(s)))
                },
                conf_servers_select(){
                    return Object.keys(this.conf_servers)
                },
                conf_setting_columns_options() {
                    let start = 2
                    let end = CONF_COLUMNS_MAX
                    return [...Array(end-start+1).keys()].map(i => String(i + start));
                },
                conf_setting_columns() {
                    return Number(this.conf_setting_columns_option)
                }
            },
            methods: {
                //
                // Add Server Tab
                //
                AddServer(){
                    this.Request('addserver',{server:this.addserver_host, token:this.addserver_auth, shared:this.addserver_shared})
                    .catch(e => {
                        console.log(e)
                        this.addserver_host_error = e.message
                    })
                    .then(resp => {
                        console.log(resp)
                        this.addserver_host = ""
                        this.addserver_auth = ""
                        this.addserver_shared = true
                        //return this.TabConfig() // Can likely do this locally
                    })
                },
                //
                // Config Tab
                //
                ConfGetColumnConfig(){
                    
                },
                ConfChangeValue(c,f,a,s,x){
                    //form['file'] and form['server'] and form['stanza'] and form['attr'] and form['value']
                    // All Apps uses confs own app, not context
                    const key = this.ConfKey(this.conf_columns[c],f)
                    let options = {
                        server: this.conf_columns[c].server,
                        user: this.conf_columns[c].user.name,
                        app: (this.conf_columns[c].app.name == DEFAULT_APP_CONTEXT.name ? a : this.conf_columns[c].app.name),
                        file: f,
                        stanza: s,
                        attr: x,
                        value: this.conf_data[key][a][s].attr[x]}
                    console.log(options)
                    return this.Request('setconf',options).then(resp => {
                        console.log(resp)
                        for (const respapp in resp){
                            if(resp[respapp][s]){
                                this.$set(this.conf_data[key][respapp],s,resp[respapp][s])
                            } else console.warn(`Stanza ${s} wasnt found in response`,resp)
                        }

                        // For all active columns of the same file not including this one
                        let tasks = []
                        for (const target of Object.keys(this.conf_data)){
                            if (target == key) continue // Dont grab what we just changed
                            const [server, app, user, file] = target.split('|')
                            if (server !== this.conf_columns[c].server || file !== f) continue // Only grab same server and file
                            console.log(server,app,user,file,s)
                            tasks.push(this.Request('getconf',{'file': file, 'server': server, 'app': app, 'user': user, 'stanza':s}).then(resp => {
                                console.log(resp)
                                for (const respapp in resp){
                                    if(resp[respapp][s]){
                                        this.$set(this.conf_data[target][respapp],s,resp[respapp][s])
                                    } else console.warn(`Stanza ${s} wasnt found in response`,resp)
                                }
                            }))
                        }
                        return Promise.all(tasks)
                    }).then(()=>{
                        this.ConfModelUpdate()
                    })
                    
                },
                ConfModelUpdate(){
                    // Generates the merged view of configuration used for display
                    console.time('ConfModelUpdate')
                    let model = {}
                    let app_labels = {}
                    app_labels[this.SYSTEM_APP_CONTEXT.name] = new Set([this.SYSTEM_APP_CONTEXT.label])

                    const columns = Object.entries(this.conf_columns.slice(0,this.conf_setting_columns)).filter(c => c[1].server).map(c => {
                        c[0] = parseInt(c[0])
                        return c
                    }) //Add Required CSS Column Offset
                    console.log(columns,this.conf_setting_files)
                    for (const file of this.conf_setting_files){
                        // Get all data
                        let data = []
                        for (const [index,column] of columns){
                            const cd = this.conf_data[this.ConfKey(column,file)]
                            console.log(column,file,cd)
                            if (!cd) continue
                            data.push(cd)
                        }
                        console.log(file,data)
                        if (data.length === 0) continue

                        // Create file parent
                        model[file] = {
                            apps: {},
                            key: file,
                            state: null,
                        }

                        // Add tick placeholder
                        if (!this.conf_tick.hasOwnProperty(model[file].key)) this.$set(this.conf_tick,model[file].key,false)
                            
                        // Get all apps
                        const apps = this.Afus(data.map(d => Object.keys(d)))
                        for (const app of apps){
                            // Create app parent
                            model[file].apps[app] = {
                                stanzas: {},
                                cols: {},
                                label: this.Afus(Object.values(this.conf_apps[app].label)).join(" / "),
                                url: this.conf_apps[app].url,
                                key: `${file}|${app}`,
                                state: null,
                            }

                            // Create app in options list if requried
                            if (!app_labels[app]) app_labels[app] = new Set()

                            // Get app columns
                            for (const [index, column] of columns){
                                const x = this.conf_apps[app].version[column.server]
                                if (x) model[file].apps[app].cols[index] = x

                                // Get Labels
                                const y = this.conf_apps[app].label[column.server]
                                if (y) app_labels[app].add(y)
                            }

                            // Add tick placeholder
                            if (!this.conf_tick.hasOwnProperty(model[file].apps[app].key)) this.$set(this.conf_tick,model[file].apps[app].key,false)

                            // Get all stanzas
                            const stanzas = this.Afus(data.map(d => Object.keys(d[app] || {})))
                            for (const stanza of stanzas){
                                // Create stanza parent
                                model[file].apps[app].stanzas[stanza] = {
                                    attrs: {},
                                    cols: {},
                                    key: `${file}|${app}|${stanza}`,
                                    state: null,
                                }

                                // Get stanza columns
                                for (const [index, column] of columns){
                                    const x = this.GetChild(this.conf_data[this.ConfKey(column,file)],[app,stanza,'acl'])
                                    if (x) model[file].apps[app].stanzas[stanza].cols[index] = x
                                }

                                // Add tick placeholder
                                if (!this.conf_tick.hasOwnProperty(model[file].apps[app].stanzas[stanza].key)) this.$set(this.conf_tick,model[file].apps[app].stanzas[stanza].key,false)

                                // Get all attributes
                                const attrs = this.Afus(data.map(d => Object.keys(this.GetChild(d,[app,stanza,'attr'],{}))))
                                for (const attr of attrs){

                                    // Create attribute parent
                                    model[file].apps[app].stanzas[stanza].attrs[attr] = {
                                        cols: {},
                                        key: `${file}|${app}|${stanza}|${attr}`,
                                        state: null,
                                    }

                                    let miss = false
                                    let diff = false
                                    let first                             

                                    // Get all values

                                    for (const [index, column] of columns){
                                        value = this.GetChild(this.conf_data[this.ConfKey(column,file)],[app,stanza,'attr',attr])
                                        if(value){
                                            if(first === undefined){
                                                first = value
                                            } else {
                                                diff = diff || first !== value
                                            }
                                            // Get attribute columns (values)
                                            model[file].apps[app].stanzas[stanza].attrs[attr].cols[index] = {
                                                value: value,
                                                key: this.ConfKey(column,file),
                                                edit: this.conf_data[this.ConfKey(column,file)][app][stanza].acl.can_write,
                                            }
                                        } else {
                                            miss = true
                                        }
                                    }
                                    if (diff){
                                        model[file].apps[app].stanzas[stanza].attrs[attr].state = this.CONF_DIFF
                                        model[file].apps[app].stanzas[stanza].state = this.CONF_DIFF
                                        model[file].apps[app].state = this.CONF_DIFF
                                        model[file].state = this.CONF_DIFF
                                    }
                                    else if (!miss && columns.length>1) {
                                        if(!model[file].apps[app].stanzas[stanza].attrs[attr].state) model[file].apps[app].stanzas[stanza].attrs[attr].state =  this.CONF_SAME
                                        if(!model[file].apps[app].stanzas[stanza].state) model[file].apps[app].stanzas[stanza].state = this.CONF_SAME
                                        if(!model[file].apps[app].state) model[file].apps[app].state = this.CONF_SAME
                                        if(!model[file].state) model[file].state = this.CONF_SAME
                                    }

                                    // Add tick placeholder
                                    if (!this.conf_tick.hasOwnProperty(model[file].apps[app].stanzas[stanza].attrs[attr].key)) this.$set(this.conf_tick,model[file].apps[app].stanzas[stanza].attrs[attr].key,false)
                                }
                            }
                        }
                    }
                    console.timeEnd('ConfModelUpdate')
                    console.log(model)
                    this.$set(this,'conf_model',model)

                    // Reformat App Options list
                    const app_options = Object.keys(app_labels).sort().map(name => ({
                        name: name,
                        label: Array.from(app_labels[name]).join(" / ")
                    }))
                    this.$set(this,'conf_setting_apps_options',app_options)
                },
                ConfKey(c,f){
                    // Returns a standardised key for conf_data
                    return `${c.server}|${c.app.name || c.app}|${c.user.name || c.user}|${f}`
                },
                ConfFixImage(event){
                    image = event.srcElement
                    
                    image.parentNode.removeChild(image)
                    /*image.onerror = "";
                    image.src = "{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/appIcon.png";*/
                    return true;
                },
                ConfCheckColumnOptions(c){
                    // Ensures Column Options are valid when changed.
                    if(!c.server || !this.conf_servers.hasOwnProperty(c.server)){
                        c.app = DEFAULT_APP_CONTEXT
                        c.user = DEFAULT_USER_CONTEXT
                    } else {
                        if(c.app != DEFAULT_APP_CONTEXT && !this.conf_servers[c.server].apps.hasOwnProperty(c.app)){
                            console.warn(`${c.app.name || c.app} wasnt found in ${c.server} apps, changing to ${DEFAULT_APP_CONTEXT}`)
                            c.app = DEFAULT_APP_CONTEXT
                        }
                        if(c.user != DEFAULT_USER_CONTEXT && !this.conf_servers[c.server].users.hasOwnProperty(c.user)){
                            console.warn(`${c.user.name || c.user} wasnt found in ${c.server} apps, changing to ${DEFAULT_USER_CONTEXT}`)
                            c.user = DEFAULT_USER_CONTEXT
                        }
                    }
                },
                ConfChangeOptions(column){
                    // Ensures conf_data and conf_model are updated to reflect the Column Options
                    const columns = column ? [column] : this.conf_columns
                    console.log(columns)
                    let tasks = []
                    for(const c of columns){
                        if(!c.server) continue // Ignore unselected
                        for (const f of this.conf_setting_files){
                            const key = this.ConfKey(c,f)
                            if(this.conf_data.hasOwnProperty(key)) continue // Have data already
                            
                            c.loading += 1
                            const task = this.Request('getconf',{
                                file: f,
                                server: c.server,
                                app: c.app.name,
                                user: c.user.name,
                            }).then(resp => {
                                this.$set(this.conf_data,key,resp)
                                c.loading -= 1
                            })
                            tasks.push(task)
                        }
                    }
                    return Promise.all(tasks).then(this.ConfModelUpdate)
                },
                ConfChangeFiles(){

                },
                ConfChangeApps(){
                    
                },
                ConfChangeShow(){
                    
                },
                ConfChangeColumns(){
                    
                },
                ConfShowHide(key){
                    this.$set(this.conf_hide,key,!this.conf_hide[key])
                    localStorage.setItem('badacs_conf_hide', Object.entries(this.conf_hide).filter(x => x[1]).map(x => x[0]).join(DELIM))
                },
                ConfChangeTick(key){
                    console.time(`ConfChangeTick ${key}`)
                    for (const child of Object.keys(this.conf_tick)){
                        if (child.startsWith(key)) this.$set(this.conf_tick,child,this.conf_tick[key])
                    }
                    console.timeEnd(`ConfChangeTick ${key}`)
                },
                ConfCopy(c){

                },
                ConfMove(c){

                },
                ConfAdd(c){

                },
                ConfRemove(c){

                },
                //
                // Generic Helpers
                //
                Afus(a){ //Arrays Flat Unique Sorted 
                    return Array.from(new Set(a.flat())).sort() // Remove .flat() eventually
                },
                Request(action,data={}) {
                    let form = new URLSearchParams()
                    form.append('a', action)
                    for (x in data){
                        form.append(x, data[x]) //encodeURIComponent
                    }
                    console.log(form.toString())
                    return fetch(`/${window.$C.LOCALE}/splunkd/__raw/services/badacs?output_mode=json`, {
                        method: 'POST',
                        //redirect: 'follow',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-Splunk-Form-Key': CSRF,
                        },
                        body: form
                    })
                    .catch(e => {
                        console.warn(e)
                        return Promise.reject({ cause: 'host', message: e.message });
                    })
                    .then(resp => resp.json())
                    .catch(e => {
                        console.warn(e)
                        return Promise.reject({ cause: 'parse', message: e.message });
                    })
                },
                GetChild(object, keys, def=false) {
                    for (const key of keys){
                        if (object.hasOwnProperty(key)){
                            object = object[key]
                        } else return def
                    }
                    return object
                },
            },
            mounted() {
                if(localStorage.badacs_conf_setting_files){
                    this.$set(this, 'conf_setting_files', localStorage.getItem('badacs_conf_setting_files').split(DELIM))
                }
                if(localStorage.badacs_conf_setting_apps){
                    this.$set(this, 'conf_setting_apps', localStorage.getItem('badacs_conf_setting_apps').split(DELIM))
                }
                /*if(localStorage.badacs_conf_setting_show){
                    this.$set(this, 'conf_setting_show', localStorage.getItem('badacs_conf_setting_show'))
                }*/
                if(localStorage.badacs_conf_setting_columns_option){
                    this.$set(this, 'conf_setting_columns_option', localStorage.getItem('badacs_conf_setting_columns_option'))
                }
                if(localStorage.badacs_conf_hide){
                    let conf_hide = localStorage.getItem('badacs_conf_hide').split(DELIM).reduce((a,b)=>{
                        a[b] = true
                        return a
                    },{})
                    console.log(conf_hide)
                    this.$set(this, 'conf_hide', conf_hide)
                }
                /*this.Request('config').then(resp => {
                    this.$set(this,'config',resp)
                })*/
                this.conf_loading = 1
                this.Request('getservers').then(resp => {
                    this.$set(this,'conf_servers',resp)
                    this.conf_loading = 0
                })
            },
            watch: {
                conf_setting_files(next,prev){
                    if(next.length) localStorage.setItem('badacs_conf_setting_files', next.join(DELIM))
                },
                conf_setting_show(next,prev){
                    localStorage.setItem('badacs_conf_setting_show', next)
                },
                conf_setting_columns_option(next,prev){
                    localStorage.setItem('badacs_conf_setting_columns_option', next)
                },
                /*conf_hide(next,prev){
                    console.log('badacs_conf_hide',next)
                    if(next) localStorage.setItem('badacs_conf_hide', Object.entries(next).filter(x => x[1]).map(x => x[0]).join(DELIM))
                }*/
            }
        })
    </script>
</body>
</html>